{% extends "index.html" %}

{% block aboutcss%}
   .about {

   }
{% endblock%}


{% block about  %}
<div class="about">
<h1>About</h1>
<p>E-commerce websites in electronics revolutionize access to electronic products. They offer categories, detailed descriptions, user reviews, and price comparisons for consumer gadgets and industrial components. Customers benefit from convenient, informed shopping experiences, supported by secure payment options and responsive customer service. These platforms empower manufacturers, retailers, and wholesalers to reach a global customer base, making the electronics industry dynamic and competitive.</p>
</div>
{% endblock  %}